#eft {
    max-width: 30%;
    height: auto;
}
#bullterrier {
    max-width: 30%;
    height: auto;
}
#cdf {
    width: 30%;
    height: auto;
}
body {
    background-color: rgb(68, 159, 107);
    color: gainsboro;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    color: gainsboro;
}