#eft {
    max-width: 30%;
    height: auto;
}
#bullterrier {
    max-width: 30%;
    height: auto;
}
#cdf {
    width: 30%;
    height: auto;
}
body {
    background-color: rgb(68, 159, 107);
    color: gainsboro;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    background-color: green;
    border-radius: 15px;
    outline-style: solid;
    outline-width: 2px;
    outline-color: black;
    padding: 15px;
    text-decoration: none;
    color: gainsboro;
}
li {
    font-size: large;
}